<!-- ========================= CUSTOMER DETAIL COMPONENT ========================= -->
<ng-container *ngIf="(customerState$ | async) as state" [ngSwitch]="state.dataState">
    <ng-container *ngSwitchCase="DataState.LOADED">
        <section>
            <div class="container mt-4">
                <!-- ========================= MAIN CARD ========================= -->
                <div class="card">
                    <div class="card-body">
                        <!-- ========================= BREADCRUMB ========================= -->
                        <nav aria-label="breadcrumb" style="margin-top: 8px;">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a [routerLink]="['/']" data-bs-toggle="tooltip" data-bs-placement="left" title="Go to home page">
                                        <i class="bi bi-house-door me-2"></i>Home
                                    </a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a [routerLink]="['/customers']" data-bs-toggle="tooltip" data-bs-placement="left" title="Go to customers">
                                        <i class="bi bi-people me-2"></i>Customers
                                    </a>
                                </li>
                                <li class="breadcrumb-item active text-white" aria-current="page">
                                    <i class="bi bi-person me-2"></i>{{ state?.appData?.data?.customer?.name }}
                                </li>
                            </ol>
                        </nav>
                        <div class="row">
                            <!-- ========================= LEFT COLUMN: CUSTOMER INFO ========================= -->
                            <div class="col-xl-5">
                                <!-- ===== PROFILE CARD ===== -->
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <div class="d-flex flex-column align-items-center">
                                            <h4 class="my-0 text-center text-white">{{ state?.appData?.data?.customer?.name }}</h4>
                                            <p class="mb-2 text-center" style="font-size: 13px;">{{ state?.appData?.data?.customer?.email }}</p>
                                            <img [src]="state?.appData?.data?.customer?.imageUrl"
                                                style="max-height: 280px; max-width: 280px; object-fit: cover; margin-bottom: 10px;"
                                                class="rounded-circle avatar-lg img-thumbnail d-block mx-auto" alt="profile-image">
                                            <span class="badge mt-2"
                                                [ngClass]="[
                                                    state?.appData?.data?.customer?.status === 'ACTIVE' ? ' bg-success' : '',
                                                    state?.appData?.data?.customer?.status === 'PENDING' ? ' bg-primary' : '',
                                                    state?.appData?.data?.customer?.status === 'BANNED' ? ' bg-danger' : '',
                                                    state?.appData?.data?.customer?.status === 'INACTIVE' ? ' bg-info' : ''
                                                ]"
                                                style="font-size: 11px; height: 18px;">
                                                {{ state?.appData?.data?.customer?.status }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!-- ===== INVOICES CARD ===== -->
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <h5 class="card-title"><i class="bi bi-receipt-cutoff me-2"></i>Total Invoices
                                        </h5>
                                        <ul class="list-group">
                                            <li class="list-group-item d-flex justify-content-between align-items-center"
                                                style="font-size: 20px;">
                                                Total Current Invoices
                                                <span class="" style="font-size: 20px;">
                                                    {{ state?.appData?.data?.customer?.invoices?.length }}
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- ===== BILLED CARD ===== -->
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title"><i class="bi bi-cash-stack me-2"></i>Total Billed</h5>
                                        <ul class="list-group">
                                            <li class="list-group-item d-flex justify-content-between align-items-center"
                                                style="font-size: 20px;">
                                                Total Billed
                                                <span class="badge bg-success" style="font-size: 20px;"></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- ========================= RIGHT COLUMN: PROFILE FORM ========================= -->
                            <div class="col-xl-7">
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <h5 class="card-title pb-3"><i class="bi bi-person-badge-fill me-2"></i>Profile
                                            Details</h5>
                                        <form #customerForm="ngForm" (ngSubmit)="updateCustomer(customerForm)">
                                            <!-- Hidden fields -->
                                            <input type="hidden" [ngModel]="state?.appData?.data?.customer?.id"
                                                name="id"
                                                [disabled]="(state?.appData?.data?.user?.roleName === 'ROLE_USER') || !!(isLoading$ | async)">
                                            <input type="hidden" [ngModel]="state?.appData?.data?.customer?.createdAt"
                                                name="createdAt"
                                                [disabled]="(state?.appData?.data?.user?.roleName === 'ROLE_USER') || !!(isLoading$ | async)">
                                            <!-- Profile fields -->
                                            <div class="row mb-3 mt-3">
                                                <label for="name"
                                                    class="col-sm-3 col-form-label d-flex align-items-center">
                                                    <i class="bi bi-person-fill me-2 pe-2"></i>Name
                                                </label>
                                                <div class="col-sm-9">
                                                    <div class="input-group">
                                                        <input type="text"
                                                            [ngModel]="state?.appData?.data?.customer?.name" name="name"
                                                            [disabled]="(state?.appData?.data?.user?.roleName === 'ROLE_USER') || !!(isLoading$ | async)"
                                                            class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3 pt-2">
                                                <label for="email"
                                                    class="col-sm-3 col-form-label d-flex align-items-center">
                                                    <i class="bi bi-envelope-fill me-2 pe-2"></i>Email
                                                </label>
                                                <div class="col-sm-9">
                                                    <div class="input-group">
                                                        <input type="text"
                                                            [ngModel]="state?.appData?.data?.customer?.email"
                                                            name="email"
                                                            [disabled]="(state?.appData?.data?.user?.roleName === 'ROLE_USER') || !!(isLoading$ | async)"
                                                            class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3 pt-2">
                                                <label for="type"
                                                    class="col-sm-3 col-form-label d-flex align-items-center">
                                                    <i class="bi bi-star-fill me-2 pe-2"></i>Type
                                                </label>
                                                <div class="col-sm-9">
                                                    <div class="input-group">
                                                        <input type="text"
                                                            [ngModel]="state?.appData?.data?.customer?.type" name="type"
                                                            [disabled]="(state?.appData?.data?.user?.roleName === 'ROLE_USER') || !!(isLoading$ | async)"
                                                            class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3 pt-2">
                                                <label for="status"
                                                    class="col-sm-3 col-form-label d-flex align-items-center">
                                                    <i class="bi bi-circle-fill me-2 pe-2"></i>Status
                                                </label>
                                                <div class="col-sm-9">
                                                    <div class="input-group">
                                                        <input type="text"
                                                            [ngModel]="state?.appData?.data?.customer?.status"
                                                            name="status"
                                                            [disabled]="(state?.appData?.data?.user?.roleName === 'ROLE_USER') || !!(isLoading$ | async)"
                                                            class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3 pt-2">
                                                <label for="address" class="col-sm-3 col-form-label d-flex align-items-center" id="address-label">
                                                    <i class="bi bi-geo-alt-fill me-2 pe-2" aria-hidden="true"></i>
                                                    <span>Address</span>
                                                </label>
                                                <div class="col-sm-9">
                                                    <div class="input-group" role="group" aria-labelledby="address-label">
                                                        <input type="text"
                                                            id="address"
                                                            [ngModel]="state?.appData?.data?.customer?.address"
                                                            name="address"
                                                            [disabled]="(state?.appData?.data?.user?.roleName === 'ROLE_USER') || !!(isLoading$ | async)"
                                                            class="form-control"
                                                            aria-label="Customer address"
                                                            autocomplete="street-address">
                                                        <button type="button"
                                                            class="btn btn-outline-info"
                                                            *ngIf="state?.appData?.data?.customer?.address"
                                                            (click)="viewOnMap(state?.appData?.data?.customer?.address)"
                                                            data-bs-toggle="tooltip"
                                                            data-bs-placement="top"
                                                            title="View on Google Maps"
                                                            aria-label="View address on Google Maps">
                                                            <i class="bi bi-map" aria-hidden="true"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3 pt-2">
                                                <label for="phone"
                                                    class="col-sm-3 col-form-label d-flex align-items-center">
                                                    <i class="bi bi-telephone-fill me-2 pe-2"></i>Phone
                                                </label>
                                                <div class="col-sm-9">
                                                    <div class="input-group">
                                                        <input type="text"
                                                            [ngModel]="state?.appData?.data?.customer?.phone"
                                                            name="phone"
                                                            [disabled]="(state?.appData?.data?.user?.roleName === 'ROLE_USER') || !!(isLoading$ | async)"
                                                            class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3 pt-2">
                                                <label for="imageurl"
                                                    class="col-sm-3 col-form-label d-flex align-items-center">
                                                    <i class="bi bi-image-fill me-2 pe-2"></i>Image URL
                                                </label>
                                                <div class="col-sm-9">
                                                    <div class="input-group">
                                                        <input type="text"
                                                            [ngModel]="state?.appData?.data?.customer?.imageUrl"
                                                            name="imageUrl"
                                                            [disabled]="(state?.appData?.data?.user?.roleName === 'ROLE_USER') || !!(isLoading$ | async)"
                                                            class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Submit button -->
                                            <button
                                                [disabled]="(state?.appData?.data?.user?.roleName === 'ROLE_USER') || !!(isLoading$ | async)"
                                                type="submit" class="btn btn-primary float-end mt-3"
                                                data-bs-toggle="tooltip" data-bs-placement="top" title="Save your changes">
                                                <span *ngIf="isLoading$ | async"
                                                    class="spinner-border spinner-border-sm" role="status"
                                                    aria-hidden="true" style="margin-right: 5px;"></span>
                                                <span *ngIf="isLoading$ | async">Loading...</span>
                                                <span *ngIf="!(isLoading$ | async)">Update</span>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ========================= INVOICES TABLE ========================= -->
                        <div class="row">
                            <div class="col-xl-12 mt-3">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title"><i class="bi bi-file-earmark-text me-2"></i>Invoices</h5>
                                        <table class="table table-hover">
                                            <thead class="table-dark">
                                                <tr>
                                                    <th scope="col"><i class="bi bi-hash me-2"></i>Invoice Number</th>
                                                    <th scope="col"><i class="bi bi-briefcase me-2"></i>Service</th>
                                                    <th scope="col"><i class="bi bi-circle-fill me-2"></i>Status</th>
                                                    <th scope="col"><i class="bi bi-calendar-date me-2"></i>Date</th>
                                                    <th scope="col"><i class="bi bi-currency-dollar me-2"></i>Total</th>
                                                    <th scope="col"><i class="bi bi-gear me-2"></i>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let invoice of state?.appData?.data?.customer?.invoices">
                                                    <td>{{ invoice.invoiceNumber }}</td>
                                                    <td>{{ invoice.services }}</td>
                                                    <td>
                                                        <span class="badge" [ngClass]="[
                                                               invoice.status === 'PAID' ? ' bg-success' : '',
                                                               invoice.status === 'PENDING' ? ' bg-primary' : '',
                                                               invoice.status === 'OVERDUE' ? ' bg-warning' : '',
                                                               invoice.status === 'CANCELED' ? ' bg-danger' : ''
                                                            ]">
                                                            <i class="bi bi-circle-fill me-1"></i>{{ invoice.status }}
                                                        </span>
                                                    </td>
                                                    <td><i class="bi bi-calendar me-1"></i>{{ invoice.date | date:
                                                        'mediumDate' }}</td>
                                                    <td><i class="bi bi-currency-dollar me-1"></i>{{ invoice.total }}
                                                    </td>
                                                    <td>
                                                        <button type="button"
                                                            [routerLink]="['/invoices', invoice.id, invoice.invoiceNumber]"
                                                            class="btn btn-info btn-sm">
                                                            <i class="bi bi-printer me-1"></i>Print
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </ng-container>
</ng-container>