spring:
  datasource:
    url: jdbc:mysql://localhost:3306/clearbalance
    username: root
    password: admin

  jpa:
    database-platform: org.hibernate.dialect.MySQL8InnoDBDialect
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        globally_quoted_identifiers: true
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true

  sql:
    init:
      mode: never
      continue-on-error: true
